# BUILD OUTPUT
*.o
*.in
Makefile
*.o
*.lo
.dirstamp
*.la
.libs
.deps
#.*.swp

# UNIT TEST
testResults.xml

# python compiled
*.pyc

# compiled po
*.gmo

# autogen files
configure
aclocal.m4
Makefile.in
ABOUT-NLS
autom4te.cache/
*.cache/

benchmarks/eventrx
benchmarks/semantic.cache
benchmarks/soma-netbench
benchmarks/soma-netbench-tx
config.guess
config.log
config.status
config.sub
insta..-sh
libtool
missing
ltmain.sh
src/fakenetwork.loT
*/semantic.cache

#Cmake crap
CMakeFiles/
*.a
CMakeCache.txt
/CTestTestfile.cmake
/cmake_install.cmake
/src/soma-experiment
/src/cmake_install.cmake
/src/CTestTestfile.cmake
/Testing/Temporary/LastTest.log
/unittest/CTestTestfile.cmake

*.h5
/unittest/EventMaskSet_test
/unittest/EventTable_test
/unittest/H5Epoch_test
/unittest/H5Experiment_test
/unittest/H5FileCreate_test
/unittest/NoteTable_test
/unittest/TSpikeTable_test
/unittest/Testing/Temporary/LastTest.log
/unittest/WaveTable_test
/unittest/cmake_install.cmake
