Source: soma-recorder
Section: science
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 5), libsomanetwork-dev, liblog4cpp5-dev, libdbus-c++-dev, 
               cdbs, python-nose, python-dbus, python-tables, libhdf5-serial-dev, cmake
Standards-Version: 3.8.0

Package: soma-recorder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The Soma Recorder saves soma network data to disk in HDF5 format.
 The Soma Recorder is a DBus-enabled server which saves soma network
 data to disk in HDF5 format.
